.login-page-container {
  display: flex;
  justify-content: center;
  background-color: $wintergreen-dream;
  min-height: 100vh;
  min-width: 100vw;

  .login-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -12px;

    img {
      margin-bottom: 30px;
      padding-left: 2%;
      filter: invert(93%) sepia(18%) saturate(157%) hue-rotate(115deg)
        brightness(91%) contrast(97%);
    }

    .form-wrapper {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 18px;
        align-self: flex-start;
      }

      .login-form {
        width: 100%;
        text-align: center;

        label {
          text-align: right;
          margin-right: 10px;
        }

        .email-wrapper,
        .password-wrapper {
          input {
            height: 32px;
            width: 100%;
            border: solid thin rgba(191, 193, 197, 0.75);
            border-radius: 4px;
            margin: 0;
            padding-left: 7px;
            outline: none;
            transition: 0.2s ease-in-out;

            &:hover,
            &:focus {
              border: solid thin rgba(0, 0, 0, 0.75);
            }
          }
        }

        .password-wrapper {
          margin-top: 3%;
        }

        .fp-login-link {
          margin: 2% 0;
          font-size: 12px;
          text-align: right;

          .no-decoration {
            color: white;
            transition: 0.3s ease-in-out;

            &:hover {
              color: $second-darkest;
              cursor: pointer;
            }
          }
        }

        .login-button {
          color: white;
          background-color: $cambridge-blue;
          height: 39px;
          width: 103.5%;
          margin-right: 0px;
          transition: 0.3s ease-in-out;
          border: 1px solid transparent;

          &:hover {
            background-color: $light-cyan;
          }
        }
      }
    }
  }
}
